# Slack Credentials
# You probably should create your Slack App with the slack-manifest.json configuration!

# Optional: Socket Mode token (requires connections:write scope)
SLACK_APP_TOKEN=xapp-your-app-token
# Bot User OAuth Token from OAuth & Permissions
SLACK_BOT_TOKEN=xoxb-your-bot-token
# Signing Secret from Basic Information
SLACK_SIGNING_SECRET=your-signing-secret
SLACK_SOCKET_MODE=true

# Channel to add user to automatically when they mention the bot (optional)
#AUTO_ADD_CHANNEL="C<add here>"
# Channel required for usage of Gorkie beyond pings
#OPT_IN_CHANNEL="C<add here>"

# For ratelimiting
REDIS_URL="redis://<add here>"

# AI inference credentials
OPENROUTER_API_KEY=your-openrouter-api-key
HACKCLUB_API_KEY=your-hackclub-api-key

# Langfuse
LANGFUSE_SECRET_KEY="sk-lf-..."
LANGFUSE_PUBLIC_KEY="pk-lf-..."
LANGFUSE_BASEURL="https://cloud.langfuse.com" # 🇪🇺 EU region, use "https://us.cloud.langfuse.com" for US region

# Exa web search
EXA_API_KEY=""
